#root {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcf9fe;
  display: flex;
}

.white-box {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  color: black;
}

.purple-box {
  background-color: #fcf9ff;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  color: black;
}

.input-container {
  text-align: left;
  position: relative;
  left: 20%;
  width: 60%;
  margin-bottom: 10px;
}

.input-container-row {
  position: relative;
  width: 45%;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-label {
  display: block;
  color: #4b5563;
}

button.submit-button {
  background-color: #9387b4;
  width: 40%;
  height: 45px;
  border-radius: 12px;
}

.toggle {
  position: relative;
  display: inline-block;
  background-color: #f3f4f6;
  padding: 3px;
  width: 300px;
  border-radius: 12px;
  margin-bottom: 5%;
}
.toggle-button:disabled {
  background-color: #ffffff;
  color: #9387b4;
}
.toggle-button {
  background-color: #f3f4f6;
  color: #4b5563;
  font-family: "Inter", sans-serif;
  width: 50%;
}

.authentication-header {
  font-family: "Outfit", sans-serif;
  color: black;
}

.authentication-logo {
  width: 300px;
  height: auto;
  vertical-align: middle;
  margin-bottom: -5px;
}

.logout-button {
  position: absolute;
  top: 1em;
  right: 1em;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  font-size: 16px;
}

.todo-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.list {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.task input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: #9387b4;
}

.add-list-container {
  display: flex;
  justify-content: flex-start;
}

button.add-list-button {
  color: #927af4;
  text-transform: none;
  font-size: 0.8em;
}
.participant-view {
  border: 1px solid #ddd;
  padding: 0px;
  margin: 0px;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 220px;
  color: black;
}

.participant-view p {
  margin: 5px 0;
  color: black;
}

.participant-view-video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transform: scaleX(-1);
}

.participant-placeholder {
  width: 220px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: white;
  font-size: 30px;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.screen-share-container {
  margin-top: 10px;
  padding: 5px;
}

.screen-share-video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.start-studying-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
  position: absolute;
  left: 0%;
  top: 20%;
}
.start-studying-container h3 {
  align-self: flex-start;
  text-align: left;
  margin-left: 0;
  width: 100%;
}

.logo {
  position: absolute;
  top: 1em;
  left: 1em;
}

.meeting-room {
  color: black;
  width: 95vw;
  height: 90vh;
}

.playlist-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.music-player {
  text-align: "center";
  justify-content: "center";
}

.controls {
  position: fixed;
  bottom: 5vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1000;
}

.dashboard-page {
  position: relative;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin-top: 0;
}

/* Overlay */
.dashboard-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  z-index: 1;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.sidebar h2 {
  color: rgb(11, 9, 9);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin-top: 100px;
}

.sidebar-menu li {
  margin-top: 10px;
}

.sidebar-menu li a {
  color: rgb(28, 24, 24);
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 10px;
}

.sidebar-menu li a:hover {
  background-color: #9387b4;
  border-radius: 5px;
}

/* Add a responsive design for smaller screens */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

.user-rect {
  color: black;
  width: 77vw;
  height: 200px;
  background-color: #e3dbf6;
  border-radius: 30px;
  margin-top: -270px;
  margin-left: 250px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
